body{
    
    color: #101010;
    line-height: 154%;
    margin: 0;
    overscroll-behavior: none;
    font-family: system-ui, system-ui, sans-serif;
    font-size: 81.25%
    
    
}
.Penguin-nav{
    display: flex;
    gap: 45px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(60, 60, 60, 0.8);
}
.penguin-img{
    width: 100%;
}
.penguin-p1{
    color:rgba(250,190,76,1);
    font-family:sans-serif;
    font-weight: bold;
    font-size:50px; 
}
.penguin-h2{
    color: rgba(54, 57, 88, 1);
    font-family:sans-serif;
    font-weight: bold;
    font-size:50px;
}
.penguin-p{
    font-weight: bold;
    color: rgba(60, 60, 60, 0.8);
}
.penguin-btn{
    background-color: rgba(157, 182, 60, 1);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family:system-ui, sans-serif;
    font-weight: bold;
    border: none;
}
.penguin-card1{
    color:rgba(54, 57, 88, 1);
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
    
}
.penguin-card2{
    color:rgba(54, 57, 88, 1);
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
    
}
.penguin-card3{
    color:rgba(54, 57, 88, 1);
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
}
.penguin-top-img{
    width: 80%;
}
.penguin-card-img{
    width: 300px;
    margin:20px 20px 0 40px;
    background-color:#f1f1f1;
    border-radius: 10px;
    margin-left: 27px;
    padding: 10px;
}
.penguin-card-img2{
    width: 230px;
    margin-left: 60px;
    padding: 10px;
}
.penguin-card-img3{
    width: 250px;
    margin-left: 60px;
    padding: 10px;
}
.penguin-card-img4{
    width: 275px;
    margin-left: 40px;
}
.penguin-card-img5{
    width: 330px;
    margin:20px 12px 40px 12px;
}
.penguin-price{
    margin-top: 5px;
    color: #fabe4c;
}
.penguin-footer{
    border: none;
}
.penguin-last-img{
    width:100%;
}
.peguin-img-logo{
    width: 60px;
    margin-left: 20px;
}
.penguin-row{
    border-radius: 10px;
    color:rgba(54, 57, 88, 1);
    font-family: sans-serif;
}
.penguin-section{
    background-color:rgba(157, 182, 60, 0.4) ;
    width: 1100px;
    height: 300px;
    margin:100px 85px 50px 85px;
    border-radius: 10px;
}
.penguin-input{
    width: 240px;
    height: 35px;
    border: none;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
}
.submit-btn{
    background-color: rgba(157, 182, 60, 1);
    border-radius: 10px;
    color: white;
    width: 90px;
    height: 35px;
}
